.main-footer img {
    width: 80%;
}

.main-footer p {
    font-size: 0.8rem;
    color: rgb(173, 167, 167);
}

.main-footer a {
    font-size: 1.5rem;
    color: #565B60;
    margin-right: 1.5rem;
}
.main-footer a:hover {
    color: #007bff;
}



.account a {
    text-decoration: none;
    color: rgb(173, 167, 167);
}

.account a:hover {
    color: #007bff;
}

.company a {
    text-decoration: none;
    color: rgb(173, 167, 167);
}

.company a:hover {
    color: #007bff;
}

.support a {
    text-decoration: none;
    color: rgb(173, 167, 167);
}

.support a:hover {
    color: #007bff;
}

.quick-links a {
    text-decoration: none;
    color: rgb(173, 167, 167);
}

.quick-links a:hover {
    color: #007bff;
}



.footer-text {
    font-size: 0.65rem;
}



.other-links {
    text-align: center;
    padding: 1rem 0 1rem 0;
}

.other-links a {
    text-decoration: none;
    color: rgb(173, 167, 167);
    font-size: 0.85rem;
    margin-right: 1rem;
}

.other-links a:hover {
    color: #007bff;
}